[%- USE T8 %]
[%- USE HTML %]
[%- PROCESS 'amcvar/render_inputs_block.html' %]

[%- FOREACH row = ROWS %]
     <tr valign="top" class="[% IF row.error %]error_message[% ELSE %]listrow[% evenodd %][% END %]">
 [%- FOREACH row1 = row.ROW1 %]
      <td align="[% row1.align %]"[% IF row1.nowrap %] nowrap[% END %]>[% row1.value %]</td>
 [%- END %]
     </tr>
 [%- FOREACH hidden = row.HIDDENS %]
    [% hidden.value %]
 [%- END %]
     <tr class="listrow[% evenodd %]" id="[% loop.count %].row2" [% UNLESS show_details %]style="display:none;"[% END %]>
      <td colspan="[% row.colspan %]">
 [%- FOREACH row2 = row.ROW2 %]
   [%- IF row2.line_break %]<br/>[%- END %]
   [%- IF row2.cvar %]
     [% row2.description %]
     [% PROCESS cvar_inputs cvar = row2.render_options %]
   [%- ELSE %]
     [% row2.value %]
   [%- END %]
 [%- END %]
      </td>
     </tr>
[% IF evenodd > 0 %][% evenodd = 0 %][%- ELSE %][% evenodd = 1 %][%- END %]
[%- END %]

